{% extends 'base.html'%}
{% load static %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}
{% block navegacion %}
    {% if user.is_authenticated %}
        
        <form method="post" action="{% url 'apps.blog_auth:cerrar_sesion' %}">
            {% csrf_token %}
            <button type="submit" class="dropdown-item">Cerrar sesión</button>
        </form>
    {% else %}
    <form method="post" action="{% url 'apps.blog_auth:sesion' %}">
        {% csrf_token %}
        <button type="submit" class="dropdown-item">Iniciar sesión</button>
    </form>
    <form method="post" action="{% url 'apps.blog_auth:registro' %}">
        {% csrf_token %}
        <button type="submit" class="dropdown-item">Registrarse</button>
    </form>
    {% endif %}
    

    {% if user.is_authenticated %}
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.username }}
    </button>
    {% endif %}
    {% if perms.post.add_articulo %}
        <div class="dropdown">
            <button>-----Articulo-----</button>
            <div class="dropdown-content">
            <a href="{% url 'apps.post:agregar_articulo' %}">Agregar</a>
            <a href="{% url 'apps.post:listar_articulos' %}">Listar</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block contenido %}
<h1></h1>
{% endblock %}