{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Registrar usuario</title>
{% endblock %}

{% block navegacion %}
{% endblock %}

{% block contenido %}

<form enctype="multipart/form-data" method="post">{% csrf_token %}
    <section style="margin-top: 5%;" data-bs-version="5.1" class="form4 cid-tf6M1H8RDD mbr-fullscreen" id="form4-12">
        <div class="container">
            <div class="row content-wrapper justify-content-center align-items-center">
                <!-- Formulario -->
                <div class="col-lg-5 col-md-8 mbr-form" data-form-type="formoid">
                    <div class="dragArea row">
                        <div class="col-lg-12">
                            <h1 class="mbr-section-title mb-4 display-4 text-center"><strong>Crear una cuenta</strong></h1>
                        </div>
                        <div class="col-lg-12 mb-4 text-center">
                            <p class="mbr-text mbr-fonts-style display-7">Complete los campos para registrarse</p>
                        </div>

                        <!-- Campos del formulario -->
                        <div class="col-lg-12">
                            <div class="form-group mb-3 form-control form-control-lg">
                                {{ form.username.label_tag }}
                                {{ form.username}}
                                {% if form.username.errors %}
                                    <div class="text-danger">{{ form.username.errors|first }}</div>
                                {% endif %}
                            </div>
                            
                            <div class="form-group mb-3 form-control form-control-lg">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="text-danger">{{ form.email.errors|first }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group mb-3 form-control form-control-lg">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                                {% if form.password1.errors %}
                                    <div class="text-danger">{{ form.password1.errors|first }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group mb-3 form-control form-control-lg">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                                {% if form.password2.errors %}
                                    <div class="text-danger">{{ form.password2.errors|first }}</div>
                                {% endif %}
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-lg w-100">Registrarse</button>
                        </div>
                    </div>
                </div>
                <!-- Imagen al lado del formulario -->
                <div class="col-lg-5 d-none d-lg-block">
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock %}